<div class="course-card">
    <div class="course-card__description">
      <div class="course-card__description-title">{{card.title}}</div>
      <div class="course-card__description-text">{{card.description}}</div>
    </div>
    <div class="course-card__info">
        <div class="course-card__info-text">
            <div>
              <b>Authors: </b>
              {{card.authors}}
            </div>
            <div><b>Duration: </b>{{duration}} hours</div>
            <div><b>Created: </b>{{card.creationDate}}</div>
        </div>
        <div class="course-card__info-actions">
            <app-button caption="Show Course"></app-button>
            <ng-content></ng-content>
        </div>
    </div>
</div>
