<div class="header">
  <app-header>
    <app-button icon="user" caption="Login" (click)="changeView('login')"></app-button>
    <app-button icon="question" (click)="showConfirmModal()"></app-button>
  </app-header>
</div>

<div class="container">
  <ng-container [ngSwitch]="view">
    <app-courses *ngSwitchCase="'courses'"></app-courses>
    <app-login *ngSwitchCase="'login'"></app-login>
  </ng-container>
</div>


<app-modal
  [(isVisible)]="isShowConfirmModal"
  (outputResult)="inputChange($event)"
  cancelButtonText="Cancel"
  message="Are you sure?"
  okButtonText="Ok"
  title="Test confirm Modal"
></app-modal>
